<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="./images/embuscadaauroraboreal.ico"/>

    <meta name="description" content="Em Busca da Aurora Boreal @Tromsø: página inicial para acesso ao livro Em Busca da Aurora Boreal em Tromso, Noruega."/>
    <meta name="author" content="Rosana Araújo, Diego Gomes"/>
    <meta name="keywords" content="aurora,boreal,aurora boreal,borealis,tromso,tromsø,viagem,noruega,frio,luzes do norte, northern lights"/>
    <meta name="robots" content="index, follow"/>
    <meta name="language" content="pt-br" />

    <title>Em Busca da Aurora Boreal @Tromsø</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href="./stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">@Tromsø</h3>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="display-2 cover-heading">Em busca da Aurora Boreal</h1>
            <p class="lead">Se você busca informações sobre a Aurora Boreal e como se preparar para uma viagem assim, está no lugar certo. Este livro foi escrito por um casal de viajantes que tinha o sonho de ver uma Aurora Boreal e poucas informações sobre como organizar a viagem sem gastar uma pequena fortuna. Aqui, o leitor conhecerá um pouco de tudo que foi importante para essa aventura na bela cidade de Tromsø.</p>
            <p class="lead">
              <a href="http://itunes.apple.com/us/book/id1232370583" class="btn">
                  <img src="./images/Get_it_on_iBooks_Badge_US_1114.svg" alt="logo for iBooks" />
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
